html, body{
    height: 100%;
    margin: 0;
    font-family: "Optima", "Candara", "Century Gothic", sans-serif;
}
#bg-vid{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(bg-video.jpg) no-repeat;
    background-size: cover; 
}
#color{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #4B9CD3;
    opacity: 0.5;
}

#controls{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.input input, button{
    display: block;
    font-size: 4em;
    width: 100%;
    opacity: 0.9;
    border: none;
    color: white;
    padding-left: 0.125em;
    text-align: center;
}

#controls .input{
margin-top: 0.5em;
}

#controls .input:first-child{
    margin-top: 0;
}

.blue{
    background-color: #13294b;    
}

.green{
    background-color: #19453b;    
}

#controls button{
    opacity: 0.75;
    cursor: pointer;
    padding-left: 0.125em;
    width: 101.28%;          /* For some reason, button is narrower than text input */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#login, #register{
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#options{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.error-message{
    color: red;
}

.error{
    border: 0.06em solid red !important;
}

td{
    width: auto;
    height: auto;
}

.filled{
    background-color: black;
}

.right-border{
    border-right: 1px solid black;
}

#bracket-container{
    width: 100%;
}

#bracket{
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
}

table.game{
    margin: 5px;
    padding: 0;
    background-color:#ededed;
    border-spacing: 0;
    width: 10em;
    display: inline-table;

}
p.team-info{
    margin-top: 0.125em;
    margin-bottom: 0.125em;
}

tr.teamOne{
    background-color: #b7b7b7;
    margin: 0;
}

td.score.right{
    text-align: right;
}

td.score.left{
    text-align: left;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.region.left{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.region.right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.region.center{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50%;
    margin-right: 50%; 
}

.right{
    text-align: right;
}

.navbar{
    height: 3em;
    background-color: #13294b;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
}

.nav-item a{
    color: white;   
    text-decoration: none;
}

.nav-item{
    margin-right: 1em;
}

.nav-item:first-child{
    margin-right: auto;
    margin-left: 1em;
}

.round{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.round-label{
    text-align: center;
}

.final-four{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

span.round {
    display: flex;
    flex-direction: row;
}